<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MEN</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <style></style>
  <body>
    <!-- <head><i><b><textarea name="textarea" id="" cols="30" rows="10"> HELLO BACKEND</textarea></b></i></head>
      -->
    <form action="/get-form-data", method="post">
      <input type="text" , placeholder="Enter email " , name="Email"/>
      <input type="text" , placeholder="Enter Username", name = "Username" />
      <input type="password" , placeholder="Enter Password", name="Password" />
      <button>Submit Form</button>
    </form>
    
  </body>
  <script src="script.js"></script>
</html>
